@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:900';

$dark: #012C45;
$light: #fff;
$frameOffset: 30px;
$sizeBubble: 70px;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #333;
  text-align: center;
  box-shadow: inset 0 0 0 30px white;

  cursor: -webkit-grab;
  cursor: grab;
  user-select: none;
}

body:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

h1 {
  position: relative;
  margin: 0 auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  line-height: 1.6rem;
  color: rgba(white, 1);
  display: flex;
  flex-direction: row;
  z-index: 3;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;

  span {
    position: relative;
    display: block;
    width: 1.8rem;
    height: 2rem;
  }
}

.bouncer {
  position: relative;
  margin: 5% auto 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 7px white;

  &:before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: translateY(0%) rotate(-45deg);
    transition: transform 0.3s, opacity 0.3s;
    will-change: transform, opacity;

    animation: bounce 0.5s infinite alternate-reverse;
  }

  &:after {
    content: 'Have Fun';
    position: absolute;
    bottom: -50px;
    left: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 11px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: translateX(-50%);
    transition: transform 0.3s, opacity 0.3s;
    will-change: transform, opacity;
  }
}

@keyframes bounce {
  to { transform: translateY(80%) rotate(-45deg); }
}

.bouncer.infoOut {
  &:before {
    opacity: 0;
  }

  &:after {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
}


.bubbles {
  position: absolute;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  top: $sizeBubble * -0.5;
  left: $sizeBubble * -0.5;
  width: $sizeBubble;
  height: $sizeBubble;
  background-color: rgba(white, 0.7);
  border-radius: 50%;
  opacity: 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 50%;
    transform: scale(1);
  }

  &[data-active='false']:before { animation: none; }
  &[data-active='false']:after { animation: none; }

  &[data-active='true']:before { animation: explodeA 0.35s; }
  &[data-active='true']:after { animation: explodeB 0.35s; }
}

@keyframes explodeA {
  100% { transform: scale(1.5); }
}

@keyframes explodeB {
  100% { transform: scale(2.5); }
}
